.newPassword {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lottie{
    width: 550px;
    padding-right: 150px;
  }
  
  .newPasswordContainer {
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 201, 195);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    margin-right: 80px;
    padding: 30px;
  }
  .newPasswordContainer form{
      padding: 20px;
  }
  .newPasswordContainer form p{
      padding-bottom: 18px;
  }
  .newPasswordContainer form input{
      padding: 20px;
  }
  .newPasswordContainer form button {
    width: 50%;
  }
  