.forgetPassword {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lottie{
    width: 450px;
    margin-left: 100px;
  }
  
  .forgetPasswordContainer {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 201, 195);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    margin-right: 80px;
    padding: 30px;
  }
  
  .forgetPasswordContainer form {
    padding: 15px;
  }
  .forgetPasswordContainer form p{
    padding-bottom: 18px;
  }
  .forgetPasswordContainer form input {
    padding: 10px;
  }
  
  .forgetPasswordContainer form button {
    width: 50%;
    /* padding-top: 10px; */
  }

  .set{
    margin-top: 18px;
  }
  